<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <title></title>
</head>
<body>
<div style="text-align: center">
    <img src="https://spot-post-image.s3.ap-northeast-2.amazonaws.com/static/mail_img%402x.png" alt="">
</div>
<div style="text-align: center">
    <a th:href="${host + link}">
        <img src="https://spot-post-image.s3.ap-northeast-2.amazonaws.com/static/mail-btn%402x.png" alt="" >
    </a>
</div>
</body>
</html>